@model UniversityCourseAndResultManagementApp.Models.Course

@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Save Course";
}


@section style {
    <style>
        .field-validation-error {
            color: red;
            font-style: italic;
        }
    </style>
}
<section class="content-header">
    <h1>
        Course
        <small>Save Course</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Course</a></li>
        <li class="active">Save Course</li>
    </ol>
</section>
<section class="content">
    <div class="row"><div class="col-md-3"></div>
    <div class="col-md-6">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Enter course info:</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->


            @using (Html.BeginForm("SaveCourse", "Course", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Code, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control", placeholder = "Course code" })
                            @Html.ValidationMessageFor(m => m.Code)
                        </div>
                    </div>
                    <div class="form-group">

                        @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">

                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Course name" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                    <div class="form-group">

                        @Html.LabelFor(m => m.Credit, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">

                            @Html.TextBoxFor(m => m.Credit, new { @class = "form-control", placeholder = "Course credit" })
                            @Html.ValidationMessageFor(m => m.Credit)
                        </div>
                    </div>
                    <div class="form-group">

                        @Html.LabelFor(m => m.Description, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">

                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Course description" })
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                    </div>
                    <div class="form-group">

                        @Html.LabelFor(m => m.DepartmentId, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.DropDownListFor(m => m.DepartmentId, new SelectList(ViewBag.departments, "Value", "Text"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.DepartmentId)
                        </div>
                    </div>
                    <div class="form-group">

                        @Html.LabelFor(m => m.SemesterId, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.DropDownListFor(m => m.SemesterId, new SelectList(ViewBag.semesters, "Value", "Text"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.SemesterId)
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer ">
                    @if (ViewBag.msg == "Course saved successfully")
                    {
                        <label class="col-sm-7" style="color: green">@ViewBag.msg</label>
                    }
                    else
                    {
                        <label class="col-sm-7" style="color: red">@ViewBag.msg</label>
                    }

                    <button type="submit" class="btn btn-primary pull-right col-sm-4">Save</button>
                </div>
                <!-- /.box-footer -->

            }
        </div>

    </div>
</div>
</section>
